<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <v-row>
    <v-col md="4" v-if="nextcloud">
      <v-card>
        <v-container class="fill-height" fluid style="padding: 0">
          <v-row class="fill-height" style="margin: 0">
            <v-col md="auto" class="deep-purple">
              <v-avatar tile size="70">
                <v-icon x-large dark>mdi-cloud-outline</v-icon>
              </v-avatar>
            </v-col>
            <v-col class="white">
              <v-card flat>
                <v-card-title class="pa-0">Nextcloud-Ordner</v-card-title>
                <v-card-text v-if="nextcloud.numEntries" class="pa-0">
                  {{ nextcloud.rootPath }}: {{ nextcloud.numEntries }} Einträge
                </v-card-text>
                <v-card-text v-else class="pa-0">
                  {{ nextcloud.rootPath }}
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-col>

    <v-col md="4" v-if="openProject">
      <v-card>
        <v-container class="fill-height" fluid style="padding: 0">
          <v-row class="fill-height" style="margin: 0">
            <v-col md="auto" class="success">
              <v-avatar tile size="70">
                <v-icon x-large dark>mdi-server</v-icon>
              </v-avatar>
            </v-col>
            <v-col class="white">
              <v-card flat>
                <v-card-title class="pa-0">OpenProject Sync</v-card-title>
                <v-card-text class="pa-0">
                  <div v-for="group in openProject.groups" :key="group.id">
                    <v-icon x-small>mdi-check</v-icon>
                    {{ group.name }}
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-col>

    <v-col md="4" v-if="openProject && openProject.project">
      <v-card>
        <v-container class="fill-height" fluid style="padding: 0">
          <v-row class="fill-height" style="margin: 0">
            <v-col md="auto" class="blue">
              <v-avatar tile size="70">
                <v-icon x-large dark>mdi-checkbox-marked-outline</v-icon>
              </v-avatar>
            </v-col>
            <v-col class="white">
              <v-card flat>
                <v-card-title class="pa-0">{{
                  openProject.project.name
                }}</v-card-title>
                <v-card-text class="pa-0">
                  {{ packagesOpen }} offen / {{ packagesClosed }} erledigt
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-col>

    <v-col md="12">
      <v-card>
        <v-card-title>
          Liste der assozierten Gruppen
        </v-card-title>
        <group-list
          :groups="groups"
          :groupSelection="groupSelection"
          :users="users"
          :loading="loading"
          :showImplicit="showImplicit"
          :search="search"
        />
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import Api from "../../Api.js";

export default {
  methods: {},
  mounted() {
    const groupId = this.$route.params.id;
    Api.defaultHandler(
      this,
      Promise.all([
        Api.getAllGroups(),
        Api.getGroupDetails(groupId),
        Api.getAllUsers(),
      ])
    ).then(result => {
      this.groups = result[0];
      const groupDetails = result[1];
      if (groupDetails.groups) {
        this.groupSelection = [...groupDetails.groups].map(group => group[0]);
      } else {
        this.groupSelection = [];
      }
      this.users = result[2];
      this.nextcloud = groupDetails.nextcloud;
      this.openProject = groupDetails.openProject;
      this.packagesOpen = 0;
      this.packagesClosed = 0;
      if (
        groupDetails.openProject &&
        groupDetails.openProject.workPackageStats
      ) {
        for (const [key, value] of Object.entries(
          groupDetails.openProject.workPackageStats
        )) {
          if (key === "Closed") {
            this.packagesClosed += value;
          } else {
            this.packagesOpen += value;
          }
        }
      }
      this.loading = false;
    });
  },
  data: () => {
    return {
      search: "",
      showImplicit: false,
      loading: true,
      groups: new Map(),
      groupSelection: [],
      users: new Map(),
      nextcloud: null,
      openProject: null,
      packagesOpen: 0,
      packagesClosed: 0,
    };
  },
  beforeDestroy() {
    this.$emit("clearError");
  },
};
</script>
