<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <div v-if="!checking">
    <v-alert type="warning" v-if="!token">
      Das Token konnte nicht gefunden werden, eventuell wurde es bereits benutzt
      oder ist abgelaufen.
    </v-alert>

    <v-alert type="success" v-if="success">
      E-Mail-Adresse wurde erfolgreich geändert, du bekommst jetzt alle
      Nachrichten an die neue Adresse.
    </v-alert>

    <v-form ref="form" v-on:submit.prevent="doMailVerification">
      <v-card-text v-if="token && !success">
        <v-alert type="warning" v-if="error">
          Bitte folgende Fehler beheben:
          <ul>
            <li v-for="e in error" :key="e">
              {{ e }}
            </li>
          </ul>
        </v-alert>

        <p>
          Änderung der Mail-Adresse für {{ token.user.firstname }}
          {{ token.user.surname }} von {{ token.user.mail }} nach
          {{ token.newMail }}.
        </p>
      </v-card-text>
      <v-card-actions>
        <router-link
          class="deep-orange--text"
          to="/dashboard"
          v-if="applicationStore.session"
          >&lt; Zurück zum Dashboard</router-link
        >
        <router-link class="deep-orange--text" to="/login" v-else
          >&lt; Zurück zum Login</router-link
        >
        <v-spacer />
        <v-btn
          color="orange darken-2"
          class="pa-4 white--text"
          tile
          :loading="loading"
          :disabled="loading"
          v-if="token && !success"
          type="submit"
          >Änderung übernehmen</v-btn
        >
      </v-card-actions>
    </v-form>
  </div>
  <div class="text-center" v-else>
    <v-progress-circular indeterminate color="primary"></v-progress-circular>
  </div>
</template>

<script>
import { useApplicationStore } from "../stores/application";
export default {
  data() {
    return {
      checking: true,
      loading: false,
      success: false,
      token: null,
      error: null,
      applicationStore: useApplicationStore(),
    };
  },
  mounted() {
    fetch(
      this.$config.API_BASE_URL +
        "/v1/change_mail/step2/" +
        this.$route.params.token
    )
      .then((response) => {
        if (response.status === 200) {
          response
            .json()
            .then((data) => {
              this.token = data;
              this.checking = false;
            })
            .catch((error) => {
              console.log(error);
              this.$emit("unexpectedError");
            });
        } else if (response.status === 404) {
          this.checking = false;
        } else {
          this.$emit("unexpectedError");
        }
      })
      .catch((error) => {
        console.log(error);
        this.$emit("networkError");
      });
  },
  methods: {
    doMailVerification: function () {
      if (this.$refs.form.validate()) {
        this.loading = true;
        fetch(
          this.$config.API_BASE_URL +
            "/v1/change_mail/step2/" +
            this.$route.params.token,
          {
            method: "POST",
            body: JSON.stringify(this.forgot),
          }
        )
          .then((response) => {
            if (response.status === 204) {
              this.success = true;
              this.loading = false;
            } else if (response.status === 404) {
              this.token = null;
            } else if (response.status === 400) {
              response
                .json()
                .then((data) => {
                  this.loading = false;
                  this.error = data;
                })
                .catch((error) => {
                  console.log(error);
                  this.$emit("unexpectedError");
                });
            } else {
              this.$emit("unexpectedError");
            }
          })
          .catch((error) => {
            console.log(error);
            this.$emit("networkError");
          });
      }
    },
  },
};
</script>
