<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <v-form ref="form" v-on:submit.prevent="doForgot">
    <v-card-text>
      <v-alert type="success" v-if="success" prominent>
        Solltest du mit der angegebenen E-Mail Adresse registriert sein, hast du
        nun einen Link zum Zurücksetzen deines Passworts zugeschickt bekommen.
      </v-alert>
      <v-text-field
        v-else
        label="E-Mail"
        name="mail"
        type="email"
        prepend-icon="mdi-email"
        v-model="mail"
        :disabled="loading"
        :rules="mailRules"
      />
    </v-card-text>
    <v-card-actions>
      <router-link class="deep-orange--text" to="/login"
        >&lt; Zurück zum Login</router-link
      >
      <v-spacer />
      <v-btn
        type="submit"
        color="orange darken-2"
        class="pa-4 white--text"
        tile
        :loading="loading"
        :disabled="loading"
        v-if="!success"
        >Zurücksetzen
      </v-btn>
    </v-card-actions>
  </v-form>
</template>

<script>
import Util from "../Util";

export default {
  data() {
    return {
      loading: false,
      success: false,
      mail: "",
      mailRules: [
        v => !!v || "Bitte eine E-Mail eingeben",
        v => Util.testForMailRegex(v) || "Diese E-Mail ist nicht valide",
      ],
    };
  },
  methods: {
    doForgot: function() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        fetch(this.$config.API_BASE_URL + "/v1/forgot/step1/" + this.mail, {
          method: "POST",
        })
          .then(response => {
            if (response.status === 201) {
              this.success = true;
              this.loading = false;
            } else {
              this.$emit("unexpectedError");
              this.loading = false;
            }
          })
          .catch(error => {
            console.log(error);
            this.$emit("networkError");
          });
      }
    },
  },
};
</script>
