<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <v-form ref="form" v-on:submit.prevent="doLogin">
    <v-card-text>
      <v-alert type="error" v-model="unauthorized" dismissible>
        Benutzername oder Passwort falsch
      </v-alert>
      <v-alert type="error" v-model="ssoError" dismissible>
        SSO-Login nicht erfolgreich, bitte erneut versuchen
      </v-alert>
      <v-text-field
        v-if="basicLogin && !ssoLoading"
        label="E-Mail"
        name="mail"
        type="email"
        prepend-icon="mdi-email"
        v-model="login.mail"
        :disabled="loading"
        :rules="mailRules"
      />

      <v-text-field
        v-if="basicLogin && !ssoLoading"
        id="password"
        label="Passwort"
        name="password"
        prepend-icon="mdi-lock"
        type="password"
        v-model="login.password"
        :rules="passwordRules"
        :disabled="loading"
      />
      <div v-if="!ssoLoading">
        <v-btn
          v-for="login in ssoLogins"
          v-bind:key="login.id"
          tile
          block
          :color="login.color"
          class="ma-0 mb-2 white--text"
          :href="redirectUrl(login.redirectUrl, login.id)"
        >
          Login mit {{ login.name }}
          <v-icon right v-if="!login.iconUrl.startsWith('http')"
            >mdi-{{ login.iconUrl }}</v-icon
          >
          <span v-else>{{ login.iconUrl }}</span>
        </v-btn>
      </div>
      <div v-else class="text-center">
        <v-progress-circular
          indeterminate
          color="primary"
        ></v-progress-circular>
      </div>
    </v-card-text>

    <v-card-actions>
      <router-link class="deep-orange--text" to="/forgot" v-if="!ssoLoading"
        >Passwort vergessen?</router-link
      >
      <v-spacer />
      <v-btn
        type="submit"
        color="orange darken-2"
        class="pa-4 white--text"
        tile
        :loading="loading"
        :disabled="loading"
        v-if="basicLogin && !ssoLoading"
        >Login
      </v-btn>
    </v-card-actions>
  </v-form>
</template>

<script>
import Api from "../Api";
import Util from "../Util";
import { useApplicationStore } from "../stores/application";

export default {
  data() {
    return {
      loading: false,
      ssoLoading: false,
      unauthorized: false,
      ssoError: false,
      applicationStore: useApplicationStore(),
      login: {
        mail: "",
        password: "",
      },
      mailRules: [
        (v) => !!v || "Bitte eine E-Mail eingeben",
        (v) => Util.testForMailRegex(v) || "Diese E-Mail ist nicht valide",
      ],
      passwordRules: [
        (v) => !!v || "Bitte ein Passwort eingeben",
        (v) =>
          (v || "").length >= 8 ||
          "Das Passwort muss mindestens 8 Zeichen beinhalten",
        (v) =>
          (v || "").length <= 400 ||
          "Das Passwort darf maximal 400 Zeichen beinhalten",
      ],
    };
  },
  methods: {
    redirectUrl: function (redirectBase, provider) {
      // eslint-disable-next-line no-undef
      return CONFIG.API_BASE_URL + "/v1/authorizer/" + provider;
    },
    removeSsoUrlParams: function () {
      let loc = new URL(window.location);
      loc.searchParams.delete("provider");
      loc.searchParams.delete("code");
      loc.searchParams.delete("session_state");

      window.history.replaceState(window.history.state, "", loc.href);
    },
    doLogin: function () {
      const credentialAuthorizer =
        this.applicationStore.config.authorizations.filter(
          (e) => e.type === "CREDENTIAL"
        )[0];
      if (credentialAuthorizer && this.$refs.form.validate()) {
        this.loading = true;
        fetch(
          this.$config.API_BASE_URL +
            "/v1/authorizer/" +
            credentialAuthorizer.id,
          {
            method: "POST",
            body: JSON.stringify(this.login),
            credentials: "include",
          }
        )
          .then((response) => {
            if (response.status === 401) {
              this.unauthorized = true;
              this.loading = false;
            } else if (response.status === 201) {
              response
                .json()
                .then((data) => {
                  this.applicationStore.setSession(data);
                  this.loading = false;
                })
                .catch((error) => {
                  console.log(error);
                  this.$emit("unexpectedError");
                });
            } else {
              this.$emit("unexpectedError");
              this.loading = false;
            }
          })
          .catch((error) => {
            console.log(error);
            this.$emit("networkError");
          });
      }
    },
  },
  mounted() {
    let searchParams = new URLSearchParams(window.location.search);

    if (searchParams.has("provider") && searchParams.has("code")) {
      this.ssoLoading = true;
      let provider = searchParams.get("provider");
      let code = searchParams.get("code");

      if (
        !this.applicationStore.config.authorizations.some(
          (e) => e.id === provider
        )
      ) {
        this.removeSsoUrlParams();
        this.ssoError = true;
        this.ssoLoading = false;
      } else {
        Api.defaultHandler(this, Api.ssoLogin(provider, code)).then(
          (result) => {
            this.removeSsoUrlParams();
            this.ssoLoading = false;

            if (!result) {
              this.ssoError = true;
            } else {
              this.loading = false;
              this.applicationStore.setSession(result);
              this.$router.push("/dashboard");
            }
          }
        );
      }
    }
  },
  computed: {
    basicLogin() {
      return this.applicationStore.config.authorizations.some(
        (e) => e.type === "CREDENTIAL"
      );
    },
    ssoLogins() {
      return this.applicationStore.config.authorizations.filter(
        (e) => e.type === "OIDC"
      );
    },
  },
};
</script>
