<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <div class="text-center">
    <div v-if="otherServicesLogout.length > 0">
      Beachte, dass noch Sessions für folgende Services bestehen könnten:
    </div>
    <v-list v-if="otherServicesLogout.length > 0">
      <v-list-item
        v-for="service in otherServicesLogout"
        :key="service.key"
        :color="$config.MAIN_BAR_COLOR"
        class="ma-5"
        link
        :href="service.url"
        target="_blank"
      >
        <v-list-item-icon>
          <v-icon>mdi-open-in-new</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          {{ service.name }}
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-progress-circular
      v-if="!logoutDone"
      indeterminate
      color="primary"
    ></v-progress-circular>
    <div v-else>
      Feather-Logout erfolgreich!
      <v-btn
        style="margin-left: 10px"
        :color="$config.MAIN_BAR_COLOR"
        dark
        to="/login"
        >Zurück zum Login</v-btn
      >
    </div>
  </div>
</template>

<script>
import { useApplicationStore } from "../stores/application";

export default {
  name: "Logout",
  methods: {
    checkLogoutAlreadyDone(key) {
      if (this.$route.query.done) {
        return this.$route.query.done.includes(key);
      }
      return false;
    },
    provideSideLogoutLink(pluginConfig, key, name) {
      if (!pluginConfig) return;
      if (!pluginConfig.enabled) return;
      if (!pluginConfig.publicUrl || pluginConfig.publicUrl === "") return;
      if (!key || key === "") return;
      if (this.checkLogoutAlreadyDone(key))
        // someone indicated that the logout from this service is already done
        return;
      this.otherServicesLogout.push({
        key: key,
        name: name,
        url: pluginConfig.publicUrl,
      });
    },
    async performLogout() {
      if (this.applicationStore.config) {
        this.provideSideLogoutLink(
          this.applicationStore.config.bindings.nextcloud,
          "nextcloud",
          "Nextcloud"
        );
        this.provideSideLogoutLink(
          this.applicationStore.config.bindings.openproject,
          "openproject",
          "OpenProject"
        );
      }
      fetch(this.$config.API_BASE_URL + "/v1/session", {
        method: "DELETE",
        credentials: "include",
      })
        .then((response) => {
          if (response.status === 404) {
            if (
              this.checkLogoutAlreadyDone("feather") ||
              this.checkLogoutAlreadyDone("openproject") ||
              this.checkLogoutAlreadyDone("nextcloud")
            ) {
              // either the logout in feather was done or we are coming from OP or NC and have never been in Feather => OK
              this.logoutDone = true;
            } else {
              // send user back to login page, because apparently he is not undergoing the logout process as it is intended
              this.$router.push("/login");
            }
          } else if (response.status === 200) {
            // We get a logout redirect, so follow it
            response
              .json()
              .then((data) => {
                if (
                  this.checkLogoutAlreadyDone("openproject") ||
                  this.checkLogoutAlreadyDone("nextcloud")
                ) {
                  // assume the OIDC logout to be done already
                  this.logoutDone = true;
                } else {
                  const redirectURL = new URL(data);
                  const postLogoutRedirectUri = redirectURL.searchParams.get(
                    "post_logout_redirect_uri"
                  );
                  redirectURL.searchParams.set(
                    "post_logout_redirect_uri",
                    postLogoutRedirectUri +
                      "/logout?done=" +
                      (this.$route.query.done
                        ? this.$route.query.done + ","
                        : "") +
                      "feather"
                  );

                  window.location.replace(redirectURL);
                }
              })
              .catch((error) => {
                console.log(error);
                this.$emit("unexpectedError");
              });
          } else {
            this.$emit("unexpectedError");
          }
        })
        .catch((error) => {
          console.log(error);
          this.$emit("networkError");
        });
    },
  },
  data: () => {
    return {
      otherServicesLogout: [],
      logoutDone: false,
      applicationStore: useApplicationStore(),
    };
  },
  mounted() {
    if (this.applicationStore.session) {
      // This is causing vue reloading the logout component,
      // because in the main layout the other router view is then used
      this.applicationStore.clearSession();
    } else {
      this.performLogout();
    }
  },
};
</script>
