<!--
  -    Copyright [2020-2021] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <v-row>
    <v-snackbar
      v-model="snackbar.show"
      :color="error.length !== 0 ? 'error' : 'success'"
      top
      multi-line
      vertical
    >
      <div v-if="error.length !== 0">
        Es sind Fehler aufgetreten, die behoben werden müssen:

        <ul>
          <li v-for="e in error" :key="e">
            {{ e }}
          </li>
        </ul>
      </div>
      <div v-else>
        {{ snackbar.message }}
      </div>
    </v-snackbar>
    <v-col :cols="applicationStore.session.miniSession ? 12 : 6">
      <v-card>
        <v-card-title>Benutzerinformation</v-card-title>
        <v-card-text>
          <v-row>
            <v-col>
              <v-text-field
                label="Vorname"
                prepend-icon="mdi-account-box"
                v-model="applicationStore.session.user.firstname"
                disabled
              />
            </v-col>
            <v-col>
              <v-text-field
                label="Nachname"
                prepend-icon="mdi-account-box-outline"
                v-model="applicationStore.session.user.surname"
                disabled
              />
            </v-col>
          </v-row>

          <v-text-field
            label="Anzeigename"
            prepend-icon="mdi-card-account-details"
            v-model="applicationStore.session.user.username"
            disabled
          />

          <v-text-field
            label="E-Mail"
            prepend-icon="mdi-email"
            v-model="applicationStore.session.user.mail"
            disabled
          />
        </v-card-text>

        <v-card-actions>
          <v-spacer />
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="doChangeUsername"
            :loading="loading"
            disabled
            >Speichern
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
    <v-col cols="6" v-if="!applicationStore.session.miniSession">
      <v-form ref="formPassword" v-on:submit.prevent="doChangePassword">
        <v-card>
          <v-card-title>Passwort ändern</v-card-title>
          <v-card-text>
            <v-row>
              <v-col>
                <v-text-field
                  label="Altes Passwort"
                  name="password0"
                  type="password"
                  prepend-icon="mdi-lock-open"
                  v-model="changePassword.passwordOld"
                  :disabled="loading"
                  :rules="passwordRules"
                />
              </v-col>
            </v-row>

            <v-text-field
              label="Neues Passwort"
              name="password1"
              type="password"
              prepend-icon="mdi-lock"
              v-model="changePassword.password1"
              :disabled="loading"
              :rules="passwordRules"
            />

            <v-text-field
              label="Passwort wiederholen"
              name="password2"
              prepend-icon="mdi-lock"
              type="password"
              v-model="changePassword.password2"
              :error-messages="passwordConfirmationRule()"
              :disabled="loading"
            />
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="orange darken-2"
              class="pa-4 white--text"
              tile
              :loading="loading"
              type="submit"
              :disabled="loading"
              >Speichern
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-col>
    <v-col cols="6" v-if="!applicationStore.session.miniSession">
      <v-form ref="formMailAddress" v-on:submit.prevent="doChangeMailAddress">
        <v-card>
          <v-card-title>Mail-Adresse ändern</v-card-title>
          <v-card-text>
            <v-text-field
              label="Aktuelles Passwort"
              name="password_for_mail_change"
              type="password"
              prepend-icon="mdi-lock-open"
              v-model="changeMailAddress.password"
              :disabled="loading"
            />
            <v-text-field
              label="Neue Mail-Adresse"
              name="mail"
              prepend-icon="mdi-email-open"
              v-model="changeMailAddress.mail"
              :disabled="loading"
              :rules="mailRules"
            />
            <v-checkbox
              v-model="changeMailAddress.verified"
              :rules="[(v) => !!v || 'Die Zustimmung ist erforderlich']"
              :disabled="loading"
              required
            >
              <template slot="label">
                Ich bin Besitzer dieser E-Mail-Adresse und werde dies durch
                Klicken des zugesandten Verifizierungs-Link innerhalb von 30
                Minuten bestätigen.
              </template>
            </v-checkbox>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="orange darken-2"
              class="pa-4 white--text"
              tile
              :loading="loading"
              type="submit"
              :disabled="loading"
              >Speichern
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-col>
  </v-row>
</template>

<script>
import Util from "../Util";
import { useApplicationStore } from "../stores/application";

export default {
  methods: {
    passwordConfirmationRule: function () {
      return this.changePassword.password1 === this.changePassword.password2
        ? ""
        : "Passwörter müssen übereinstimmen";
    },
    doChangeUsername: function () {
      // TODO: not implemented yet. Form is disabled.
    },
    doChangePassword: function () {
      this.error = [];
      this.snackbar.show = false;

      if (this.$refs.formPassword.validate()) {
        this.loading = true;
        fetch(this.$config.API_BASE_URL + "/v1/account/changepass", {
          method: "POST",
          credentials: "include",
          body: JSON.stringify(this.changePassword),
        })
          .then((response) => {
            if (response.status === 204) {
              this.$refs.formPassword.reset();
              this.loading = false;
              this.snackbar.message = "Passwort erfolgreich geändert";
              this.snackbar.show = true;
            } else if (response.status === 403) {
              this.error = ["Das aktuelle Passwort ist inkorrekt"];
              this.snackbar.show = true;
              this.loading = false;
            } else if (response.status === 400) {
              response
                .json()
                .then((data) => {
                  this.error = data;
                  this.snackbar.show = true;
                  this.loading = false;
                })
                .catch((error) => {
                  console.log(error);
                  this.$emit("unexpectedError");
                });
            } else if (response.status === 401) {
              this.$router.push("/logout");
            } else {
              this.$emit("unexpectedError");
              this.loading = false;
            }
          })
          .catch((error) => {
            console.log(error);
            this.$emit("networkError");
          });
      }
    },
    doChangeMailAddress: function () {
      this.error = [];
      this.snackbar.show = false;

      if (this.$refs.formMailAddress.validate()) {
        this.loading = true;
        fetch(
          this.$config.API_BASE_URL +
            "/v1/change_mail/step1/" +
            this.applicationStore.session.user.id,
          {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(this.changeMailAddress),
          }
        )
          .then((response) => {
            if (response.status === 201) {
              this.$refs.formMailAddress.reset();
              this.loading = false;
              this.snackbar.message = "Änderungsprozess erfolgreich angestoßen";
              this.snackbar.show = true;
            } else if (response.status === 401) {
              this.$router.push("/logout");
            } else if (response.status === 400) {
              response
                .json()
                .then((data) => {
                  this.error = data;
                  this.snackbar.show = true;
                  this.loading = false;
                })
                .catch((error) => {
                  console.log(error);
                  this.$emit("unexpectedError");
                });
            } else if (response.status === 401) {
              this.$router.push("/logout");
            } else {
              this.$emit("unexpectedError");
              this.loading = false;
            }
          })
          .catch((error) => {
            console.log(error);
            this.$emit("networkError");
          });
      }
    },
  },
  data: () => {
    return {
      loading: false,
      error: [],
      snackbar: {
        show: false,
        message: "",
      },
      changePassword: {
        passwordOld: "",
        password1: "",
        password2: "",
      },
      changeMailAddress: {
        password: "",
        mail: "",
        verified: false,
      },
      passwordRules: [
        (v) => !!v || "Bitte ein Passwort eingeben",
        (v) =>
          (v || "").length >= 8 ||
          "Das Passwort muss mindestens 8 Zeichen beinhalten",
        (v) =>
          (v || "").length <= 400 ||
          "Das Passwort darf maximal 400 Zeichen beinhalten",
      ],
      mailRules: [
        (v) => !!v || "Bitte eine E-Mail eingeben",
        (v) => Util.testForMailRegex(v) || "Diese E-Mail ist nicht valide",
      ],
      applicationStore: useApplicationStore(),
    };
  },
  beforeDestroy() {
    this.$emit("clearError");
  },
};
</script>

<style scoped></style>
