<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <div v-if="!checking">
    <v-alert type="warning" v-if="!token">
      Das Token konnte nicht gefunden werden, eventuell wurde es bereits benutzt
      oder ist abgelaufen.
    </v-alert>

    <v-alert type="success" v-if="success">
      Passwort erfolgreich geändert, du kannst dich jetzt mit deinem neuen
      Passwort anmelden.
    </v-alert>

    <v-form ref="form" v-on:submit.prevent="doReset">
      <v-card-text v-if="token && !success">
        <v-alert type="warning" v-if="error">
          Bitte folgende Fehler beheben:
          <ul>
            <li v-for="e in error" :key="e">
              {{ e }}
            </li>
          </ul>
        </v-alert>

        <p>
          Passwort für {{ token.user.firstname }}
          {{ token.user.surname }} &lt;{{ token.user.mail }}&gt; ({{
            token.user.username
          }}) ändern:
        </p>

        <v-text-field
          label="Passwort"
          name="password1"
          type="password"
          prepend-icon="mdi-lock"
          v-model="forgot.password1"
          :disabled="loading"
          :rules="passwordRules"
        />

        <v-text-field
          label="Passwort wiederholen"
          name="password2"
          prepend-icon="mdi-lock"
          type="password"
          v-model="forgot.password2"
          :error-messages="passwordConfirmationRule()"
          :disabled="loading"
        />
      </v-card-text>
      <v-card-actions>
        <router-link class="deep-orange--text" to="/login"
          >&lt; Zurück zum Login</router-link
        >
        <v-spacer />
        <router-link
          class="deep-orange--text"
          to="/forgot"
          v-if="!token && !success"
          >Neues Token anfordern &gt;</router-link
        >
        <v-btn
          color="orange darken-2"
          class="pa-4 white--text"
          tile
          :loading="loading"
          :disabled="loading"
          v-if="token && !success"
          type="submit"
          >Passwort setzen</v-btn
        >
      </v-card-actions>
    </v-form>
  </div>
  <div class="text-center" v-else>
    <v-progress-circular indeterminate color="primary"></v-progress-circular>
  </div>
</template>

<script>
export default {
  data() {
    return {
      checking: true,
      loading: false,
      success: false,
      token: null,
      error: null,
      forgot: {
        password1: "",
        password2: "",
      },
      passwordRules: [
        v => !!v || "Bitte ein Passwort eingeben",
        v =>
          (v || "").length >= 8 ||
          "Das Passwort muss mindestens 8 Zeichen beinhalten",
        v =>
          (v || "").length <= 400 ||
          "Das Passwort darf maximal 400 Zeichen beinhalten",
      ],
    };
  },
  mounted() {
    fetch(
      this.$config.API_BASE_URL + "/v1/forgot/step2/" + this.$route.params.token
    )
      .then(response => {
        if (response.status === 200) {
          response
            .json()
            .then(data => {
              this.token = data;
              this.checking = false;
            })
            .catch(error => {
              console.log(error);
              this.$emit("unexpectedError");
            });
        } else if (response.status === 404) {
          this.checking = false;
        } else {
          this.$emit("unexpectedError");
        }
      })
      .catch(error => {
        console.log(error);
        this.$emit("networkError");
      });
  },
  methods: {
    passwordConfirmationRule: function() {
      return this.forgot.password1 === this.forgot.password2
        ? ""
        : "Passwörter müssen übereinstimmen";
    },
    doReset: function() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        fetch(
          this.$config.API_BASE_URL +
            "/v1/forgot/step2/" +
            this.$route.params.token,
          {
            method: "POST",
            body: JSON.stringify(this.forgot),
          }
        )
          .then(response => {
            if (response.status === 204) {
              this.success = true;
              this.loading = false;
            } else if (response.status === 404) {
              this.token = null;
            } else if (response.status === 400) {
              response
                .json()
                .then(data => {
                  this.loading = false;
                  this.error = data;
                })
                .catch(error => {
                  console.log(error);
                  this.$emit("unexpectedError");
                });
            } else {
              this.$emit("unexpectedError");
            }
          })
          .catch(error => {
            console.log(error);
            this.$emit("networkError");
          });
      }
    },
  },
};
</script>
