<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <div v-if="!checking">
    <gdpr-popup
      v-if="!loading"
      :gdpr="gdpr"
      v-model="gdprPopup"
      v-on:declineGdpr="gdprPopup = false"
      v-on:acceptGdpr="
        signup.gdpr = gdpr.id;
        gdprPopup = false;
        doSignup();
      "
    ></gdpr-popup>
    <v-card-text>
      <v-alert type="warning" v-if="!token">
        Das Token konnte nicht gefunden werden, eventuell wurde es bereits
        benutzt oder ist abgelaufen.
      </v-alert>

      <v-alert type="success" v-if="success">
        Registrierung abgeschlossen, du kannst dich nun einloggen.
      </v-alert>

      <v-form ref="form" v-if="token && !success">
        <v-alert type="warning" v-if="error">
          Bitte folgende Fehler beheben:
          <ul>
            <li v-for="e in error" :key="e">
              {{ e }}
            </li>
          </ul>
        </v-alert>

        <v-row>
          <v-col>
            <v-text-field
              label="Vorname"
              prepend-icon="mdi-account-box"
              v-model="token.invitee.firstname"
              disabled
            />
          </v-col>
          <v-col>
            <v-text-field
              label="Nachname"
              prepend-icon="mdi-account-box-outline"
              v-model="token.invitee.surname"
              disabled
            />
          </v-col>
        </v-row>

        <v-text-field
          label="E-Mail"
          prepend-icon="mdi-email"
          v-model="token.invitee.mail"
          disabled
        />

        <v-text-field
          label="Anzeigename"
          append-icon="mdi-lightbulb-outline"
          @click:append="setDisplayNameSuggestion"
          :hint="`Empfehlung: ${displayNameSuggestion(token.invitee)}`"
          :placeholder="displayNameSuggestion(token.invitee)"
          prepend-icon="mdi-card-account-details"
          v-model="signup.displayName"
          :disabled="loading"
          :rules="displayNameRules"
        />

        <v-text-field
          label="Passwort"
          name="password1"
          type="password"
          prepend-icon="mdi-lock"
          v-model="signup.password1"
          :disabled="loading"
          :rules="passwordRules"
        />

        <v-text-field
          label="Passwort wiederholen"
          name="password2"
          prepend-icon="mdi-lock"
          type="password"
          v-model="signup.password2"
          :error-messages="passwordConfirmationRule()"
          :disabled="loading"
        />

        <background-job-status
          two-line
          :job-id="finalizeInvitationJobId"
          @error="processFinalizeInvitationError"
          @results="processFinalizeInvitationResults"
        >
        </background-job-status>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <router-link class="deep-orange--text" to="/login"
        >&lt; Zurück zum Login</router-link
      >
      <v-spacer />
      <v-btn
        color="orange darken-2"
        class="pa-4 white--text"
        tile
        @click="doSignupOrGdpr"
        :loading="loading"
        :disabled="loading"
        v-if="token && !success"
        >Registrieren
      </v-btn>
    </v-card-actions>
  </div>
  <div class="text-center" v-else>
    <v-progress-circular indeterminate color="primary"></v-progress-circular>
  </div>
</template>

<script>
import Api from "../Api.js";
import Util from "../Util.js";
import GdprPopup from "../components/GdprPopup.vue";

export default {
  components: {
    "gdpr-popup": GdprPopup,
  },
  data() {
    return {
      checking: true,
      loading: false,
      finalizeInvitationJobId: null,
      success: false,
      token: null,
      error: null,
      gdpr: null,
      gdprPopup: false,
      signup: {
        password1: "",
        password2: "",
        displayName: "",
        gdpr: null,
      },
      displayNameRules: [
        v => !!v || "Bitte einen Anzeigenamen wählen",
        v =>
          (v || "").length >= 3 ||
          "Der Anzeigename muss mindestens 3 Zeichen beinhalten",
        v =>
          (v || "").length <= 40 ||
          "Der Anzeigename darf maximal 40 Zeichen beinhalten",
        v =>
          RegExp("^[a-z][a-z0-9\\.]*$").test(v || "") ||
          "Nur Kleinbuchstaben, Zahlen und Punkte. Darf nur mit einem Buchstaben starten.",
      ],
      passwordRules: [
        v => !!v || "Bitte ein Passwort eingeben",
        v =>
          (v || "").length >= 8 ||
          "Das Passwort muss mindestens 8 Zeichen beinhalten",
        v =>
          (v || "").length <= 400 ||
          "Das Passwort darf maximal 400 Zeichen beinhalten",
      ],
    };
  },
  mounted() {
    const gdprPromise = Api.defaultHandler(this, Api.getGdpr("latest")).then(
      gdpr => {
        this.gdpr = gdpr;
      }
    );
    const invitationPromise = Api.defaultHandler(
      this,
      Api.getInvitation(this.$route.params.token)
    ).then(data => {
      if (data) {
        this.token = data;
      }
    });

    Promise.all([gdprPromise, invitationPromise]).then(() => {
      this.checking = false;
    });
  },
  methods: {
    passwordConfirmationRule: function() {
      return this.signup.password1 === this.signup.password2
        ? ""
        : "Passwörter müssen übereinstimmen";
    },
    displayNameSuggestion: function(user) {
      return Util.displayNameSuggestion(user);
    },
    setDisplayNameSuggestion: function() {
      this.signup.displayName = this.displayNameSuggestion(this.token.invitee);
    },
    doSignupOrGdpr: function() {
      if (!this.gdpr) {
        this.doSignup();
      } else {
        this.gdprPopup = true;
      }
    },
    doSignup: function() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        fetch(
          `${this.$config.API_BASE_URL}/v1/invitations/${
            this.$route.params.token
          }?async=true`,
          {
            method: "POST",
            body: JSON.stringify(this.signup),
          }
        )
          .then(response => {
            if (response.status === 201) {
              response.json().then(data => {
                this.finalizeInvitationJobId = data.id;
              });
            } else if (response.status === 404) {
              this.token = null;
            } else if (response.status === 400) {
              response
                .json()
                .then(data => {
                  this.loading = false;
                  this.error = data;
                })
                .catch(error => {
                  console.log(error);
                  this.$emit("unexpectedError");
                });
            } else {
              this.$emit("unexpectedError");
            }
          })
          .catch(error => {
            console.log(error);
            this.$emit("networkError");
          });
      }
    },
    processFinalizeInvitationError: function(errorList) {
      this.error = errorList;
      this.loading = false;
    },
    processFinalizeInvitationResults: function() {
      this.success = true;
      this.loading = false;
    },
  },
};
</script>
