<!--
  -    Copyright [2020-2022] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <v-row>
    <v-snackbar
      v-model="snackbar.show"
      :color="
        error.length !== 0
          ? 'error'
          : snackbar.color
          ? snackbar.color
          : 'success'
      "
      top
      multi-line
      vertical
    >
      <div v-if="error.length !== 0">
        Es sind Fehler aufgetreten, die behoben werden müssen:

        <ul>
          <li v-for="e in error" :key="e">
            {{ e }}
          </li>
        </ul>
      </div>
      <div v-else>
        {{ snackbar.message }}
      </div>
    </v-snackbar>
    <v-overlay :value="downgradeConfirmationOverlay.show">
      <v-card>
        <v-card-title>Herunterstufung bestätigen</v-card-title>
        <v-card-text>
          <v-form ref="downgradeConfirmationOverlay">
            <v-checkbox
              v-model="downgradeConfirmationOverlay.verified"
              :rules="[(v) => !!v || 'Die Zustimmung ist erforderlich']"
              :disabled="downgradeConfirmationOverlay.loading"
              required
            >
              <template slot="label">
                Ich möchte in die Rolle eines Nichtfördermitglieds wechseln und
                verliere dadurch besondere Rechte auf der DKP.
              </template>
            </v-checkbox>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn
            @click="closeDowngradeOverlay"
            :disabled="downgradeConfirmationOverlay.loading"
            >Abbrechen</v-btn
          >
          <v-spacer />
          <v-btn
            :disabled="false /*!downgradeConfirmationOverlay.verified*/"
            :loading="downgradeConfirmationOverlay.loading"
            @click="doDowngrade"
          >
            Nichtfördermitglied werden
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-overlay>
    <v-overlay :value="trialConfirmationOverlay.show">
      <v-card>
        <v-card-title
          >Beantragung der Nichtfördermitgliedschaft mit erhöhten Rechte
          bestätigen</v-card-title
        >
        <v-card-text>
          <v-form ref="trialConfirmationOverlay">
            <v-checkbox
              v-model="trialConfirmationOverlay.verified"
              :rules="[(v) => !!v || 'Die Zustimmung ist erforderlich']"
              :disabled="trialConfirmationOverlay.loading"
              required
            >
              <template slot="label">
                Ich möchte in die Rolle eines Nichtfördermitglieds mit erhöhten
                Rechten wechseln. Diese muss durch den Knotenadmin genehmigt
                werden. Mir ist bewusst, dass diese Rechteerhöhung nur im
                eigenen Projekt Auswirkungen hat und zeitlich auf 6 Monate
                befristet ist. Es entspricht nicht den vollständigen Rechten
                einer Fördermitgliedschaft.
              </template>
            </v-checkbox>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn
            @click="closeTrialOverlay"
            :disabled="trialConfirmationOverlay.loading"
            >Abbrechen</v-btn
          >
          <v-spacer />
          <v-btn
            :disabled="false"
            :loading="trialConfirmationOverlay.loading"
            @click="doRequestTrial"
          >
            Erhöhte Rechte beantragen.
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-overlay>
    <v-col cols="6">
      <v-card>
        <v-card-title>Fördermitgliedschaft</v-card-title>
        <v-card-text v-if="loading">
          <v-progress-circular indeterminate></v-progress-circular>
        </v-card-text>
        <v-card-text v-else-if="membershipState == 'REGISTERED_SUPPORT_MEMBER'"
          >Alles OK. Fördermitgliedschaft verifiziert.</v-card-text
        >
        <v-card-text
          v-else-if="membershipState == 'NO_SUPPORT_MEMBERSHIP_REQUIRED'"
        >
          <p>
            Du besitzt Sonderrechte (GS, Admin oder Funktionsaccount). Daher
            benötigst du keine Fördermitgliedschaft.
          </p>
        </v-card-text>
        <v-card-text v-else>
          <p v-if="!loading && supportMembershipNotNecessary">
            Alles OK. Für deine aktuellen Rollen benötigst du keine
            Fördermitgliedschaft.
          </p>
          <p v-if="!loading && blockedBySMcheck">
            Deine Mitgliedschaft in einiger deiner Gruppen setzt eine
            Fördermitgliedschaft voraus. Diese muss bestätigt werden.
            <span v-if="offerSMupgradeByBirthday"
              >Für die Überprüfung wird deine Mail-Adresse oder dein
              Geburtsdatum benötigt. Dieser Abgleich kann nur funktionieren,
              wenn diese Daten bei der Registrierung als Fördermitglied
              angegeben wurden. Solltest du Informationen nachtragen wollen, so
              wende dich bitte an
              <a href="mailto:mitglieder@ingenieure-ohne-grenzen.org"
                >mitglieder@ingenieure-ohne-grenzen.org</a
              >. Bist du kein Fördermitglied, so wechsle in die Gruppen, die
              keine Fördermitgliedschaft voraussetzen.</span
            >
          </p>
          <p
            v-if="
              !loading && (offerSMupgradeByMail || offerSMupgradeByBirthday)
            "
          >
            Wenn du Fördermitglied geworden bist, kannst du dies hier eintragen
            lassen und ggfs. in Gruppen wechseln, die eine Fördermitgliedschaft
            voraussetzen.
          </p>

          <v-row>
            <v-col>
              <v-text-field
                label="Vorname"
                prepend-icon="mdi-account-box"
                v-model="applicationStore.session.user.firstname"
                disabled
              />
            </v-col>
            <v-col>
              <v-text-field
                label="Nachname"
                prepend-icon="mdi-account-box-outline"
                v-model="applicationStore.session.user.surname"
                disabled
              />
            </v-col>
          </v-row>

          <v-text-field
            label="E-Mail"
            prepend-icon="mdi-email"
            v-model="applicationStore.session.user.mail"
            disabled
          />

          <v-menu
            v-if="offerSMupgradeByBirthday"
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="upgradeData.birthday"
                label="Geburtsdatum"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="upgradeData.birthday"
              :active-picker.sync="activePicker"
              :max="new Date().toISOString().substr(0, 10)"
              min="1930-01-01"
              :first-day-of-week="1"
              locale="de-DE"
              @change="saveBirthday"
            ></v-date-picker>
          </v-menu>
        </v-card-text>

        <v-card-actions v-if="!loading && blockedBySMcheck">
          <v-btn
            v-if="offerSMdowngrade"
            class="pa-4"
            tile
            @click="showDowngradeConfirmation"
            :loading="sending"
            >Ich bin kein Fördermitglied
          </v-btn>
        </v-card-actions>
        <v-card-actions v-if="!loading && offerSMupgradeByMail">
          <v-spacer />
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="doUpgradeByMail"
            :disabled="mailRegistrationResult == 'upgrade_by_mail_failed'"
            :loading="sending"
            >Fördermitgliedschaft per Mail aktivieren
          </v-btn>
        </v-card-actions>
        <v-card-actions v-if="!loading && offerSMupgradeByBirthday">
          <v-spacer />
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="doUpgradeByBirthdate"
            :disabled="
              birthdayRegistrationResult == 'upgrade_by_birthday_failed'
            "
            :loading="sending"
            >Fördermitgliedschaft per Geburtsdatum aktivieren
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
    <v-col cols="7">
      <v-card>
        <v-card-title>Erhöhte Rechte für Nichtfördermitglieder</v-card-title>
        <v-card-text v-if="loading">
          <v-progress-circular indeterminate></v-progress-circular>
        </v-card-text>
        <v-card-text v-else-if="trialVerificationNotNecessary">
          Gruppenzugehörigkeit OK. Erhöhte Rechte sind nicht nötig.</v-card-text
        >
        <v-card-text
          v-else-if="
            membershipState == 'INTERESTED_TRIAL_REQUEST_AND_SM_UPGRADE_ALLOWED'
          "
        >
          Du bist als Nichtfördermitglied eingestuft, daher sind erhöhte Rechte
          aktuell nicht notwendig. Erhöhte Rechte können für 6 Monate bei deinem
          Knotenadmin beantragt werden.</v-card-text
        >
        <v-card-text v-else-if="membershipState == 'REGISTERED_TRIAL_MEMBER'">
          Du bist nun Nichtfördermitglied mit erhöhten Rechten.</v-card-text
        >
        <v-card-text
          v-else-if="membershipState == 'INTERESTED_SM_UPGRADE_CAN_BE_OFFERED'"
        >
          Du bist als Nichtfördermitglied eingestuft. Die Beantragung erhöhter
          Rechte ist nicht mehr möglich, da die Rechteerhöhung auf 6 Monaten
          befristet ist und nax. einmal verlängert werden kann.</v-card-text
        >
        <v-card-text v-else-if="membershipState == 'INTERESTED_TRIAL_PENDING'">
          Du bist als Nichtfördermitglied eingestuft. Du hast die Rechteerhöhung
          bei deinem Knotenadmin angefragt, jedoch hat er sie noch nicht
          genehmigt.</v-card-text
        >
        <v-card-text v-else-if="membershipState == 'TRIAL_REQUIRED'">
          Deine Gruppenzugehörigkeit passt leider nicht mehr. Die erhöhte
          Rechtevergabe ist auf 6 Monaten befristet und ist abgelaufen. Eine
          einmalige Verlängerung ist auf Anfrage beim Knotenadmin
          möglich.</v-card-text
        >
        <v-card-text v-else-if="membershipState == 'TRIAL_EXPIRED'">
          Die erhöhte Rechtevergabe ist ausgelaufen. Sie ist mit 6 Monaten
          befristet und kann max. 1mal verlängert werden. Eine Verlängerung ist
          nicht mehr möglich.</v-card-text
        >
        <v-card-text
          v-else-if="membershipState == 'INTERESTED_TRIAL_UPGRADE_POSSIBLE'"
        >
          Du bist als als Nichtfördermitglied mit erhöhten Rechten registriert,
          jedoch wurde deine Gruppenzugehörigkeit nicht gesetzt. Bitte wende
          dich an dich an deinen Knotenadmin.</v-card-text
        >
        <v-card-actions v-if="!loading && trialRequestPossible">
          <v-btn
            v-if="trialRequestPossible"
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="showTrialConfirmation"
            :loading="sending"
            :disabled="false"
            >Ich möchte erhöhte Rechte bei meinem Knotenadmin beantragen.
          </v-btn>
          <v-spacer />
        </v-card-actions>
        <v-card-actions v-if="!loading && trialDowngradePossible">
          <v-btn
            v-if="offerTrialDowngrade"
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="showDowngradeConfirmation"
            :loading="sending"
            :disabled="false"
            >Ich möchte zu einem normalen Nichtfördermitglied ohne erhöhte
            Rechte herabgestuft werden.
          </v-btn>
          <v-spacer />
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import Api from "../Api";
import Util from "../Util.js";
import { useApplicationStore } from "../stores/application";

export default {
  data: () => {
    return {
      loading: false,
      membershipState: "unverified",
      birthdayRegistrationResult: "never_tried",
      mailRegistrationResult: "never_tried",
      sending: false,
      upgradeData: {
        birthday: null,
      },
      activePicker: null,
      menu: false,
      downgradeConfirmationOverlay: {
        show: false,
        loading: false,
      },
      trialConfirmationOverlay: {
        show: false,
        loading: false,
      },
      error: [],
      snackbar: {
        show: false,
        message: "",
      },
      offerSMupgradeByMail: false,
      offerSMupgradeByBirthday: false,
      offerSMdowngrade: false,
      offerTrialDowngrade: false,
      blockedBySMcheck: false,
      supportMembershipNotNecessary: false,
      trialVerificationNotNecessary: false,
      trialRequestPossible: false,
      applicationStore: useApplicationStore(),
    };
  },
  methods: {
    resetSnackbar: function () {
      this.error = [];
      this.snackbar.show = false;
    },
    showSnackbar: function (message, color = "success") {
      this.snackbar.message = message;
      this.snackbar.color = color;
      this.snackbar.show = true;
    },
    showErrors: function (errors) {
      this.snackbar.show = true;
      this.error = errors;
    },
    getUpgradeBody: async function (byMail) {
      let body = null;
      let url = "/v1/bindings/iog/users/upgrade";
      if (byMail) {
        body = JSON.stringify({});
        url = url + "ByMail";
      } else {
        console.log(this.upgradeData.birthday);
        const nameBirthdayHash = await Util.hashNameBirthday(
          this.applicationStore.session.user.firstname,
          this.applicationStore.session.user.surname,
          new Date(this.upgradeData.birthday)
        );
        console.log(nameBirthdayHash);
        body = JSON.stringify({
          nameBirthdayHash,
        });
        url = url + "ByBirthdate";
      }
      return { body, url };
    },
    recalcButtonVisibility: function () {
      this.offerSMupgradeByMail =
        this.membershipState == "INTERESTED_AUTOMATIC_SM_UPGRADE_POSSIBLE" ||
        this.membershipState == "SM_MAIL_REGISTRATION_POSSIBLE" ||
        this.membershipState == "TRIAL_AUTOMATIC_SM_UPGRADE_POSSIBLE";

      this.offerSMupgradeByBirthday =
        this.membershipState == "INTERESTED_SM_UPGRADE_CAN_BE_OFFERED" ||
        this.membershipState == "INTERESTED_TRIAL_PENDING" ||
        this.membershipState ==
          "INTERESTED_TRIAL_REQUEST_AND_SM_UPGRADE_ALLOWED" ||
        this.membershipState == "INTERESTED_TRIAL_UPGRADE_POSSIBLE" ||
        this.membershipState == "SM_NAME_BIRTHDAY_REGISTRATION_REQUIRED" ||
        this.membershipState == "REGISTERED_TRIAL_MEMBER" ||
        this.membershipState == "TRIAL_EXPIRED" ||
        this.membershipState == "TRIAL_REQUIRED";
      this.offerSMdowngrade =
        this.membershipState == "SM_NAME_BIRTHDAY_REGISTRATION_REQUIRED";
      this.blockedBySMcheck =
        this.membershipState == "SM_NAME_BIRTHDAY_REGISTRATION_REQUIRED" ||
        this.membershipState == "SM_MAIL_REGISTRATION_POSSIBLE";
      this.supportMembershipNotNecessary =
        this.membershipState == "NO_SUPPORT_MEMBERSHIP_REQUIRED" ||
        this.membershipState == "INTERESTED_SM_UPGRADE_CAN_BE_OFFERED" ||
        this.membershipState ==
          "INTERESTED_TRIAL_REQUEST_AND_SM_UPGRADE_ALLOWED" ||
        this.membershipState == "INTERESTED_TRIAL_PENDING" ||
        this.membershipState == "REGISTERED_TRIAL_MEMBER" ||
        this.membershipState == "TRIAL_REQUIRED" ||
        this.membershipState == "INTERESTED_TRIAL_UPGRADE_POSSIBLE" ||
        this.membershipState == "TRIAL_EXPIRED";
      this.trialVerificationNotNecessary =
        this.membershipState == "NO_SUPPORT_MEMBERSHIP_REQUIRED" ||
        this.membershipState == "REGISTERED_SUPPORT_MEMBER" ||
        this.membershipState == "SM_MAIL_REGISTRATION_POSSIBLE" ||
        this.membershipState == "SM_NAME_BIRTHDAY_REGISTRATION_REQUIRED" ||
        this.membershipState == "TRIAL_AUTOMATIC_SM_UPGRADE_POSSIBLE";
      this.trialRequestPossible =
        this.membershipState ==
          "INTERESTED_TRIAL_REQUEST_AND_SM_UPGRADE_ALLOWED" ||
        this.membershipState == "TRIAL_REQUIRED";
      this.offerTrialDowngrade =
        this.membershipState == "TRIAL_REQUIRED" ||
        this.membershipState == "TRIAL_EXPIRED";
    },
    doUpgradeByMail: function () {
      this.resetSnackbar();

      this.sending = true;
      this.getUpgradeBody(true)
        .then((data) =>
          fetch(this.$config.API_BASE_URL + data.url, {
            method: "POST",
            credentials: "include",
            body: data.body,
          })
        )
        .then((response) => {
          if (response.status === 201) {
            this.sending = false;
            this.membershipState = "REGISTERED_SUPPORT_MEMBER";
            this.showSnackbar("Upgrade erfolgreich bestätigt");
            this.recalcButtonVisibility();
            this.$emit("refreshSession");
          } else if (response.status === 204) {
            this.sending = false;
            this.showSnackbar("Upgrade wurde bereits durchgeführt.");
          } else if (response.status === 403) {
            this.showErrors([
              "Upgrade konnte nicht bestätigt werden. Bitte lass überprüfen, dass deine aktuelle E-Mail-Adresse und dein Geburtsdatum bei der Geschäftsstelle ( mitglieder@ingenieure-ohne-grenzen.org ) korrekt hinterlegt sind.",
            ]);
            this.mailRegistrationResult = "upgrade_by_mail_failed";
            this.sending = false;
          } else if (response.status === 400) {
            response
              .json()
              .then((data) => {
                this.showErrors(data);
                this.sending = false;
              })
              .catch((error) => {
                console.log(error);
                this.$emit("unexpectedError");
              });
          } else if (response.status === 401) {
            this.$router.push("/logout");
          } else {
            this.$emit("unexpectedError");
            this.sending = false;
          }
        })
        .catch((error) => {
          console.log(error);
          this.$emit("networkError");
        });
    },
    doUpgradeByBirthdate: function () {
      this.resetSnackbar();

      this.sending = true;
      this.getUpgradeBody(false)
        .then((data) =>
          fetch(this.$config.API_BASE_URL + data.url, {
            method: "POST",
            credentials: "include",
            body: data.body,
          })
        )
        .then((response) => {
          if (response.status === 201) {
            this.sending = false;
            this.membershipState = "REGISTERED_SUPPORT_MEMBER";
            this.showSnackbar("Upgrade erfolgreich bestätigt");
            this.recalcButtonVisibility();
            this.$emit("refreshSession");
          } else if (response.status === 204) {
            this.sending = false;
            this.showSnackbar("Upgrade wurde bereits durchgeführt.");
          } else if (response.status === 403) {
            this.showErrors([
              "Upgrade konnte nicht bestätigt werden. Bitte lass überprüfen, dass deine aktuelle E-Mail-Adresse und dein Geburtsdatum bei der Geschäftsstelle ( mitglieder@ingenieure-ohne-grenzen.org ) korrekt hinterlegt sind.",
            ]);
            this.birthdayRegistrationResult = "upgrade_by_birthday_failed";
            this.sending = false;
          } else if (response.status === 400) {
            response
              .json()
              .then((data) => {
                this.showErrors(data);
                this.sending = false;
              })
              .catch((error) => {
                console.log(error);
                this.$emit("unexpectedError");
              });
          } else if (response.status === 401) {
            this.$router.push("/logout");
          } else {
            this.$emit("unexpectedError");
            this.sending = false;
          }
        })
        .catch((error) => {
          console.log(error);
          this.$emit("networkError");
        });
    },
    showDowngradeConfirmation: function () {
      this.resetSnackbar();

      this.downgradeConfirmationOverlay.verified = false;
      this.downgradeConfirmationOverlay.loading = false;
      this.downgradeConfirmationOverlay.show = true;
    },
    closeDowngradeOverlay: function () {
      this.downgradeConfirmationOverlay.show = false;
    },
    doDowngrade: function () {
      if (!this.$refs.downgradeConfirmationOverlay.validate()) {
        return;
      }

      this.resetSnackbar();

      this.downgradeConfirmationOverlay.loading = true;
      fetch(this.$config.API_BASE_URL + "/v1/bindings/iog/users/downgrade", {
        method: "POST",
        credentials: "include",
        body: JSON.stringify({}),
      })
        .then((response) => {
          if (response.status === 200) {
            this.showSnackbar("Downgrade erfolgreich bestätigt");
            this.$emit("refreshSession");
          } else if (response.status === 400) {
            response
              .json()
              .then((data) => {
                this.showErrors(data);
              })
              .catch((error) => {
                console.log(error);
                this.$emit("unexpectedError");
              });
          } else if (response.status === 401) {
            this.$router.push("/logout");
          } else {
            this.$emit("unexpectedError");
          }
          this.downgradeConfirmationOverlay.loading = false;
          this.closeDowngradeOverlay();
        })
        .catch((error) => {
          console.log(error);
          this.$emit("networkError");
        });
    },
    saveBirthday(date) {
      this.$refs.menu.save(date);
    },
    showTrialConfirmation: function () {
      this.resetSnackbar();

      this.trialConfirmationOverlay.verified = false;
      this.trialConfirmationOverlay.loading = false;
      this.trialConfirmationOverlay.show = true;
      console.log("showTrialConfimationClicked");
    },
    closeTrialOverlay: function () {
      this.trialConfirmationOverlay.show = false;
    },
    doRequestTrial: function () {
      if (!this.$refs.trialConfirmationOverlay.validate()) {
        return;
      }
      this.trialConfirmationOverlay.loading = true;
      fetch(this.$config.API_BASE_URL + "/v1/bindings/iog/users/requestTrial", {
        method: "POST",
        credentials: "include",
        body: JSON.stringify({}),
      })
        .then((response) => {
          if (response.status === 204) {
            this.showSnackbar(
              "Die Rechteerhöhung wurde beim Knotenadmin erfolgreich angefragt. Bitte warte auf seine Bestätigung."
            );
            this.$emit("refreshSession");
          } else if (response.status == 403) {
            this.showSnackbar(
              "Die Rechteerhöhung kann beim Knotenadmin nicht angefragt werden. Sie kann max. ein Mal verlängert werden."
            );
            this.$emit("refreshSession");
          } else if (response.status === 400) {
            response
              .json()
              .then((data) => {
                this.showErrors(data);
              })
              .catch((error) => {
                console.log(error);
                this.$emit("unexpectedError");
              });
          } else if (response.status === 401) {
            this.$router.push("/logout");
          } else {
            this.$emit("unexpectedError");
          }
          this.trialConfirmationOverlay.loading = false;
          this.closeTrialOverlay();
        })
        .catch((error) => {
          console.log(error);
          this.$emit("networkError");
        });
    },
  },
  watch: {
    menu(val) {
      val && setTimeout(() => (this.activePicker = "YEAR"));
    },
  },
  mounted() {
    this.loading = true;
    Api.getSupportMembershipVerificationStatus()
      .then((response) => {
        this.membershipState = response;
        this.loading = false;
        this.recalcButtonVisibility();
      })
      .catch((error) => {
        if (error === "error.unauthorized") {
          this.$router.push("/logout");
        } else if (Array.isArray(error)) {
          console.log(error);
          this.loading = false;
          this.error = data;
        } else {
          console.log(error);
          this.loading = false;
          this.$emit("unexpectedError");
        }
      });
  },
  beforeDestroy() {
    this.$emit("clearError");
  },
};
</script>

<style scoped></style>
