<template>
  <v-container>
    <v-banner :icon="icon" :single-line="!twoLine">{{ status }}</v-banner>
    <v-progress-linear
      :indeterminate="progress"
      color="orange darken-2"
    ></v-progress-linear>
  </v-container>
</template>

<script>
import Api from "../Api.js";

export default {
  name: "BackgroundJobStatus",

  props: {
    twoLine: {
      type: Boolean,
      default: false,
    },
    jobId: {
      type: String,
      default: null,
    },
  },

  data() {
    return {
      icon: "mdi-timer-sand-empty",
      status: "Der Hintergrund-Job wurde noch nicht gestartet.",
      progress: false,
      timer: null,
    };
  },

  methods: {
    processJobStatus(status) {
      if (status.completed) {
        if (status.exception) {
          this.icon = "mdi-exclamation";
          this.status = `Fehler (Prozess): ${
            status.exception
          } (siehe Feather Logs).`;
          this.progress = false;
          this.$emit("error", [status.exception]);
        } else {
          Api.getBackgroundJobResults(this.jobId)
            .then(results => {
              this.icon = "mdi-timer-sand-full";
              (this.status = "Der Hintergrund-Job wurde beendet."),
                (this.progress = false);
              this.$emit("results", results);
            })
            .catch(error => {
              this.icon = "mdi-exclamation";
              this.status = `Fehler (Daten): ${error}.`;
              this.progress = false;
              this.$emit("error", [error]);
            });
        }
      } else {
        this.icon = "mdi-timer-sand";
        const seconds = Math.floor(
          (new Date() - new Date(status.created)) / 1000
        );
        const time =
          seconds >= 60
            ? `${Math.floor(seconds / 60)} Minute(n)`
            : `${seconds} Sekunde(n)`;
        (this.status = `Der Hintergrund-Job läuft seit ${time}: ${
          status.status
        }`),
          (this.progress = true);
        // ask again in 5 seconds
        this.timer = setTimeout(this.updateJobStatus, 5000);
      }
    },
    updateJobStatus() {
      Api.getBackgroundJobStatus(this.jobId)
        .then(response => {
          this.processJobStatus(response);
        })
        .catch(error => {
          this.icon = "mdi-exclamation";
          this.status = `Fehler (Abfrage): ${error}.`;
          this.progress = false;
          this.$emit("error", [error]);
        });
    },
    clearUpdate() {
      if (this.timer) {
        clearTimeout(this.timer);
        this.timer = null;
      }
    },
  },

  beforeDestroy() {
    this.clearUpdate();
  },

  watch: {
    jobId: function(newJobId, oldJobId) {
      if (oldJobId == newJobId) return;

      this.clearUpdate();

      if (this.jobId == null) {
        this.icon = "mdi-timer-sand-empty";
        this.status = "Der Hintergrund-Job wurde noch nicht gestartet.";
        this.progress = false;
      } else {
        this.updateJobStatus();
      }
    },
  },
};
</script>
