<template>
  <div id="topBar">
    <input
      type="file"
      id="input"
      ref="fileupload"
      @change="doVerifyFile"
      :accept="accept"
    />
    <p class="errorText" v-if="error">{{ error }}</p>
  </div>
</template>

<script>
export default {
  name: "FileUpload",

  props: {
    accept: {
      type: String,
      default: "application/json",
    },
    encoding: {
      type: String,
      default: "UTF-8",
    },
    verifyFile: {
      type: Function,
      default: () => true,
    },
  },

  data() {
    return {
      error: null,
      fileContent: null,
    };
  },

  methods: {
    doVerifyFile(event) {
      this.error = null;
      const uploadInput = event.target;
      const reader = new FileReader();
      const file = uploadInput.files[0];
      reader.onload = x => {
        this.fileContent = x.target.result;
        const results = {
          content: this.fileContent,
          fileName: file.name,
          fileType: file.type,
        };
        if (!this.verifyFile) {
          this.$emit("results", results);
        } else {
          this.verifyFile(results).then(ok => {
            if (ok) {
              this.$emit("results", results);
            } else {
              this.error = "Datei wird nicht akzeptiert.";
              this.$emit("results", null);
            }
          });
        }
      };
      reader.readAsText(file, this.encoding);
    },
    reset: function() {
      this.$refs.fileupload.value = null;
    },
  },
};
</script>

<style scoped>
.errorText {
  color: red;
}
</style>
