<template>
  <div class="text-center">
    <v-dialog
      v-model="value"
      persistent
      width="70%"
      min-width="800px"
      v-if="value && gdpr"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="red lighten-2" dark v-bind="attrs" v-on="on">
          Click Me
        </v-btn>
      </template>

      <v-card>
        <v-card-title>
          Aktuelle Datenschutzbestimmungen (Version {{ gdpr.id }})
          <v-spacer />
          <v-btn
            class="mx-2"
            fab
            small
            :color="$config.MAIN_BAR_COLOR"
            dark
            :to="'/print/gdpr/' + gdpr.id"
            target="_blank"
            ><v-icon>mdi-printer</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-subtitle
          >Gültig ab
          {{ new Date(Date.parse(gdpr.validDate)).toLocaleString() }}.
          Veröffentlicht am
          {{
            new Date(Date.parse(gdpr.creationDate)).toLocaleString()
          }}.</v-card-subtitle
        >
        <v-card-text>
          <GdprDocumentView :content="gdpr.content" />
        </v-card-text>

        <v-card-actions>
          <v-btn
            :color="$config.MAIN_BAR_COLOR"
            tile
            dark
            @click="$emit('declineGdpr')"
          >
            Ablehnen
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            :color="$config.MAIN_BAR_COLOR"
            tile
            dark
            @click="$emit('acceptGdpr')"
          >
            Zustimmen
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import GdprDocumentView from "../components/GdprDocumentView.vue";

export default {
  components: {
    GdprDocumentView,
  },
  props: ["gdpr", "value"],
};
</script>
