<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="items"
      :search="search"
      :loading="loading"
    >
      <template v-slot:item.id="row">
        <v-btn icon class="mx-2" small link :to="'groups/' + row.item.id">
          <v-icon>mdi-account-group</v-icon>
        </v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import moment from "moment";
import Util from "../Util.js";
import { useApplicationStore } from "../stores/application";

export default {
  name: "InvitationList",

  props: {
    invitations: {
      type: Array,
      required: true,
    },
    loading: {
      type: Boolean,
      required: true,
    },
    search: {
      type: String,
      required: true,
    },
    showPermissions: {
      type: Boolean,
      required: true,
    },
  },
  computed: {
    items: function () {
      return this.invitations.map((invitation) => {
        return {
          id: invitation.id,
          invitee: {
            name:
              invitation.invitee.firstname + " " + invitation.invitee.surname,
            mail: invitation.invitee.mail,
            permissions: invitation.invitee.permissions,
          },
          validUntil: moment(invitation.validUntil).format(
            "YYYY-MM-DD HH:mm:ss"
          ),
          inviter: {
            name: Util.userIdentifier(
              invitation.inviter,
              this.applicationStore.session.user
            ),
          },
        };
      });
    },
    headers: function () {
      const headers = [
        {
          text: "Eingeladener",
          value: "invitee.name",
        },
        {
          text: "Mailadresse",
          value: "invitee.mail",
        },
        {
          text: "Gültigkeitsdauer",
          value: "validUntil",
        },
        {
          text: "Einladender",
          value: "inviter.name",
        },
      ];
      if (this.showPermissions) {
        headers.push({
          text: "Rechte",
          value: "invitee.permissions",
        });
      }
      return headers;
    },
  },

  methods: {},
  mounted() {},
  data: function () {
    return {
      applicationStore: useApplicationStore(),
    };
  },
};
</script>
