<!--
  -    Copyright [2021] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <v-row>
    <v-col v-if="applicationStore.session.user.permissions.includes('ADMIN')">
      <v-card>
        <v-card-title class="red--text">
          Plausibilitätsüberprüfung für Benutzer
        </v-card-title>
        <v-card-text>
          <v-alert type="success" v-if="success">
            Benutzerdaten wurden erfolgreich re-synchronisiert.
          </v-alert>

          <v-form ref="form" v-if="!success">
            <v-alert type="warning" v-if="error">
              Bitte folgende Fehler beheben:
              <ul>
                <li v-for="e in error" :key="e">
                  {{ e }}
                </li>
              </ul>
            </v-alert>

            <v-checkbox
              v-model="checkUsers.checkNextcloud"
              :disabled="sending || !!userDetails"
            >
              <template slot="label"> Nextcloud </template>
            </v-checkbox>

            <v-checkbox
              v-model="checkUsers.checkOpenProject"
              :disabled="sending || !!userDetails"
            >
              <template slot="label"> OpenProject </template>
            </v-checkbox>

            <background-job-status
              v-if="!userDetails"
              :jobId="checkUserJobId"
              @error="processCheckUserError"
              @results="processCheckUserResults"
            >
            </background-job-status>

            <v-data-table
              v-if="userDetails"
              v-model="selected"
              :headers="headers"
              :items="userDetails"
              item-key="user.id"
              show-select
            >
            </v-data-table>

            <v-checkbox
              v-model="synchronizeUsers.verified"
              :rules="[(v) => !!v || 'Die Zustimmung ist erforderlich']"
              :disabled="
                sending ||
                !userDetails ||
                userDetails.length == 0 ||
                selected.length == 0
              "
              required
            >
              <template slot="label">
                Ja, alle ausgewählten Benutzer sollen re-synchronisiert werden.
              </template>
            </v-checkbox>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="reset"
            v-if="success"
          >
            Weitere Plausibilitätsüberprüfungen durchführen
          </v-btn>
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="reset"
            v-if="!success && userDetails"
          >
            Formular zurücksetzen
          </v-btn>
          <v-spacer />
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="doResynchronizeUsers"
            :loading="sending"
            :disabled="
              sending ||
              userDetails.length == 0 ||
              selected.length == 0 ||
              !synchronizeUsers.verified
            "
            v-if="!success && userDetails"
            >Benutzer re-synchronisieren
          </v-btn>
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="doCheckUsers"
            :loading="sending"
            :disabled="sending"
            v-if="!success && !userDetails"
            >Benutzer überprüfen
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { useApplicationStore } from "../../stores/application";

export default {
  mounted() {},
  data: () => {
    return {
      sending: false,
      success: false,
      error: null,
      groups: [],
      items: [],
      checkUsers: {
        checkNextcloud: true,
        checkOpenProject: true,
      },
      synchronizeUsers: {
        verified: false,
      },
      headers: [
        {
          text: "Name",
          value: "user.displayName",
        },
        {
          text: "E-Mail",
          value: "user.mail",
        },
        {
          text: "Basisdaten",
          value: "generalStatus",
        },
        {
          text: "OpenProject",
          value: "openProjectStatus",
        },
        {
          text: "Nextcloud",
          value: "nextcloudStatus",
        },
      ],
      checkUserJobId: null,
      userDetails: null,
      selected: [],
      applicationStore: useApplicationStore(),
    };
  },
  methods: {
    reset: function () {
      this.error = null;
      this.checkUsers.checkNextcloud = true;
      this.checkUsers.checkOpenProject = true;
      this.synchronizeUsers.verified = false;
      this.sending = false;
      this.success = false;
      this.checkUserJobId = null;
      this.userDetails = null;
      this.selected = [];
    },
    doCheckUsers: function () {
      if (this.checkUsers.checkNextcloud || this.checkUsers.checkOpenProject) {
        this.$emit("clearError");
        this.sending = true;

        fetch(
          this.$config.API_BASE_URL +
            "/v1/bindings/multiservice/plausibility/users",
          {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(this.checkUsers),
          }
        )
          .then((response) => {
            if (response.status === 201) {
              response.json().then((data) => {
                this.checkUserJobId = data.id;
              });
            } else if (response.status === 401) {
              this.$router.push("/logout");
            } else if (response.status === 400) {
              this.sending = false;
              response
                .json()
                .then((data) => {
                  console.log(data);
                  this.error = data;
                })
                .catch((error) => {
                  console.log(error);
                  this.$emit("unexpectedError");
                });
            } else {
              this.sending = false;
              this.$emit("unexpectedError");
            }
          })
          .catch((error) => {
            console.log(error);
            this.sending = false;
            this.$emit("networkError");
          });
      }
    },
    convertUserDetails: function (entry) {
      return Object.assign(entry, {
        isSelectable:
          entry.openProjectStatus != "OK" ||
          (entry.nextcloudStatus != "OK" &&
            entry.nextcloudStatus != "Not found"),
      });
    },
    processCheckUserResults: function (data) {
      this.sending = false;
      if (data.overallStatus == "OK") {
        this.userDetails = [];
      } else {
        this.userDetails = data.entries
          .filter(
            (entry) =>
              entry.openProjectStatus != "OK" || entry.nextcloudStatus != "OK"
          )
          .map((entry) => this.convertUserDetails(entry));
      }
      this.selected = [];
    },
    processCheckUserError: function (errorList) {
      this.sending = false;
      this.error = errorList;
    },
    doResynchronizeUsers: function () {
      if (this.$refs.form.validate() && this.synchronizeUsers.verified) {
        this.$emit("clearError");
        this.sending = true;
        this.checkUserJobId = null;
        let body = Object.assign({}, this.checkUsers);
        if (this.selected.length == this.userDetails.length) {
          // repair all
          body = Object.assign(body, { autoRepair: "AUTOREPAIR_ALL" });
        } else {
          // fill autoRepairUserIds with the selected entries
          body = Object.assign(body, {
            autoRepair: "AUTOREPAIR_SELECTED",
            autoRepairUserIds: this.selected.map((entry) => entry.user.id),
          });
        }
        this.userDetails = null;
        this.selected = [];
        fetch(
          this.$config.API_BASE_URL +
            "/v1/bindings/multiservice/plausibility/users",
          {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(body),
          }
        )
          .then((response) => {
            if (response.status === 201) {
              response.json().then((data) => {
                this.checkUserJobId = data.id;
              });
            } else if (response.status === 401) {
              // unauthorized, ask to login  again
              this.$router.push("/logout");
            } else if (response.status === 403) {
              // forbidden, no permissions or wrong password
              this.sending = false;
              this.error = ["Keine Berechtigung oder falsches Passwort"];
            } else if (response.status === 400) {
              this.sending = false;
              response
                .json()
                .then((data) => {
                  this.error = data;
                })
                .catch((error) => {
                  console.log(error);
                  this.$emit("unexpectedError");
                });
            } else {
              this.sending = false;
              this.$emit("unexpectedError");
            }
          })
          .catch((error) => {
            console.log(error);
            this.sending = false;
            this.$emit("networkError");
          });
      }
    },
  },
  beforeDestroy() {
    this.$emit("clearError");
  },
};
</script>

<style scoped></style>
