<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <v-row>
    <v-col
      v-if="
        applicationStore.session.user.permissions.includes('ADMIN') ||
        applicationStore.session.user.permissions.includes('INVITE')
      "
    >
      <v-card>
        <v-card-title> Benutzer Einladen </v-card-title>
        <v-card-text>
          <v-alert type="success" v-if="success">
            Einladung wurde erfolgreich versandt.
          </v-alert>

          <v-form ref="form" v-if="!success">
            <v-alert type="warning" v-if="error">
              Bitte folgende Fehler beheben:
              <ul>
                <li v-for="e in error" :key="e">
                  {{ e }}
                </li>
              </ul>
            </v-alert>

            <v-row>
              <v-col>
                <v-text-field
                  label="Vorname"
                  prepend-icon="mdi-account-box"
                  v-model="invitation.firstname"
                  :rules="nameRules"
                  :disabled="loading"
                />
              </v-col>
              <v-col>
                <v-text-field
                  label="Nachname"
                  prepend-icon="mdi-account-box-outline"
                  v-model="invitation.surname"
                  :rules="nameRules"
                  :disabled="loading"
                />
              </v-col>
            </v-row>

            <v-text-field
              label="E-Mail"
              prepend-icon="mdi-email"
              v-model="invitation.mail"
              :rules="mailRules"
              :disabled="loading"
            />

            <v-checkbox
              v-model="invitation.verified"
              :rules="[(v) => !!v || 'Die Zustimmung ist erforderlich']"
              :disabled="loading"
              required
            >
              <template slot="label">
                Ich habe die Identität der Person mithilfe eines
                Ausweisdokuments überprüft oder kenne ihn oder sie persönlich.
              </template>
            </v-checkbox>

            <v-autocomplete
              v-model="invitation.groups"
              :items="getSortedGroupsById(ownedGroups)"
              item-text="name"
              item-value="id"
              label="Gruppenzugehörigkeit"
              multiple
              chips
              prepend-icon="mdi-account-multiple"
              :disabled="loading"
            ></v-autocomplete>

            <v-autocomplete
              v-if="applicationStore.session.user.permissions.includes('ADMIN')"
              v-model="invitation.permissions"
              :items="invitablePermissions"
              multiple
              chips
              item-text="value"
              item-value="id"
              prepend-icon="mdi-account-check-outline"
              label="Rechte"
              :disabled="loading"
            >
            </v-autocomplete>

            <v-checkbox
              v-model="invitation.instructed"
              :rules="[(v) => !!v || 'Die Belehrung ist erforderlich']"
              :disabled="loading"
              required
            >
              <template slot="label">
                <div>
                  <span
                    >Ich habe die einzuladende Person darüber aufgeklärt, dass
                    mit der Einladung ihr Name und ihr E-Mail-Addresse in
                    unserem System verwaltet werden. Der/Die Eingeladene muss
                    bei der Registrierung der Datenschutzerklärung zustimmen, um
                    die Anmeldung abzuschließen. Andernfalls verliert die
                    Einladung nach 30 Tagen ihre Gültigkeit und die Daten werden
                    wieder gelöscht.</span
                  >
                </div>
              </template>
            </v-checkbox>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="reset"
            v-if="success"
            >Weiteren Benutzer einladen
          </v-btn>
          <v-spacer />
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="doInvite"
            :loading="loading"
            :disabled="loading"
            v-if="!success"
            >Einladen
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
    <v-col v-else>
      Für diese Seite benötigst du entweder ADMIN oder INVITE Rechte.
      Kontaktiere bitte die IT-Gruppe, wenn du eigentlich Zugriff zu dieser
      Seite haben solltest.</v-col
    >
  </v-row>
</template>

<script>
import Api from "../../Api.js";
import Util from "../../Util.js";
import { useApplicationStore } from "../../stores/application";

export default {
  mounted() {
    Api.defaultHandler(this, Api.getAllGroups()).then((result) => {
      this.groups = result;
      this.ownedGroups =
        this.applicationStore.session.user.permissions.includes("ADMIN")
          ? // admin: all groups
            Array.from(this.groups.values()).map((x) => x.id)
          : // normal account: including implicit ownership
            Util.getImplicitlyOwnedGroups(
              this.applicationStore.session.user,
              this.groups
            );
      this.loading = false;
    });
  },
  data: () => {
    return {
      loading: true,
      success: false,
      error: null,
      groups: null,
      ownedGroups: [],
      invitation: {
        firstname: "",
        surname: "",
        mail: "",
        groups: [],
        permissions: [],
        instructed: false,
        verified: false,
      },
      invitablePermissions: ["INVITE"],
      nameRules: [
        (v) => !!v || "Dieses Feld ist benötigt",
        (v) => (v || "").length >= 2 || "Mindestens 2 Zeichen benötigt",
        (v) => (v || "").length <= 40 || "Maximal 40 Zeichen",
      ],
      mailRules: [
        (v) => !!v || "Bitte eine E-Mail eingeben",
        (v) => Util.testForMailRegex(v) || "Diese E-Mail ist nicht valide",
      ],
      applicationStore: useApplicationStore(),
    };
  },
  methods: {
    getSortedGroupsById: function (ids) {
      if (!this.groups) {
        return [];
      }
      return Util.getSortedGroupsById(ids, this.groups);
    },
    reset: function () {
      this.error = null;
      this.invitation.firstname = "";
      this.invitation.surname = "";
      this.invitation.mail = "";
      this.invitation.instructed = false;
      this.invitation.verified = false;
      this.invitation.groups = [];
      this.invitation.permissions = [];
      this.loading = false;
      this.success = false;
    },
    doInvite: function () {
      if (this.$refs.form.validate()) {
        this.$emit("clearError");
        this.loading = true;

        fetch(this.$config.API_BASE_URL + "/v1/invitations/", {
          method: "POST",
          credentials: "include",
          body: JSON.stringify(this.invitation),
        })
          .then((response) => {
            if (response.status === 201) {
              this.success = true;
            } else if (response.status === 401) {
              this.$router.push("/logout");
            } else if (response.status === 400) {
              this.loading = false;
              response
                .json()
                .then((data) => {
                  this.error = data;
                })
                .catch((error) => {
                  console.log(error);
                  this.$emit("unexpectedError");
                });
            } else {
              this.loading = false;
              this.$emit("unexpectedError");
            }
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
            this.$emit("networkError");
          });
      }
    },
  },
  beforeDestroy() {
    this.$emit("clearError");
  },
};
</script>

<style scoped></style>
