<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <v-row>
    <v-col
      v-if="
        applicationStore.session.user.permissions.includes('ADMIN') ||
        applicationStore.session.user.permissions.includes('INVITE')
      "
    >
      <v-card>
        <v-card-title class="red--text">
          Rechteerhöhung für Nichtfördermitglieder verwalten
        </v-card-title>
        <v-card-text>
          <v-alert type="success" v-if="success">
            Anträge wurden wie gewünscht bearbeitet und Rechte ggfs. erfolgreich
            erteilt.
          </v-alert>

          <v-form ref="form" v-if="!success">
            <v-alert type="warning" v-if="error">
              Bitte folgende Fehler beheben:
              <ul>
                <li v-for="e in error" :key="e">
                  {{ e }}
                </li>
              </ul>
            </v-alert>

            <v-select
              v-model="trialDecision.requestId"
              :items="this.applications"
              item-text="displayName"
              item-value="id"
              label="Auswählbare Anträge"
              multiple
              chips
              prepend-icon="mdi-account-group"
              :disabled="loading || sending"
              :loading="loading"
            ></v-select>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="reset"
            v-if="success"
            >Weitere Anträge genehmigen
          </v-btn>
          <v-spacer />
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="doAcceptTrials"
            :loading="sending"
            :disabled="
              sending || loading || trialDecision.requestId.length == 0
            "
            v-if="!success"
            >Anträge genehmigen
          </v-btn>
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="doRejectTrials"
            :loading="sending"
            :disabled="
              sending || loading || trialDecision.requestId.length == 0
            "
            v-if="!success"
            >Anträge ablehnen
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import Api from "../../Api.js";
import { useApplicationStore } from "../../stores/application";

export default {
  mounted() {
    Api.defaultHandler(this, Api.getAllTrialRequests()).then((result) => {
      this.applications = result;
      this.loading = false;
    });
  },
  data: () => {
    return {
      loading: true,
      sending: false,
      success: false,
      error: null,
      users: [],
      items: [],
      applications: [],
      trialDecision: {
        requestId: [],
        accept: false,
      },
      applicationStore: useApplicationStore(),
    };
  },
  methods: {
    reset: function () {
      this.error = null;
      this.sending = false;
      this.success = false;
    },
    doAcceptTrials: function () {
      if (this.$refs.form.validate()) {
        this.$emit("clearError");
        this.sending = true;
        this.trialDecision.accept = true;

        fetch(
          this.$config.API_BASE_URL +
            "/v1/bindings/iog/users/processTrialRequest",
          {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(this.trialDecision),
          }
        )
          .then((response) => {
            if (response.status === 204) {
              this.success = true;
            } else if (response.status === 401) {
              this.$router.push("/logout");
            } else if (response.status === 400) {
              this.sending = false;
              response
                .json()
                .then((data) => {
                  this.error = data;
                })
                .catch((error) => {
                  console.log(error);
                  this.$emit("unexpectedError");
                });
            } else {
              this.sending = false;
              this.$emit("unexpectedError");
            }
          })
          .catch((error) => {
            console.log(error);
            this.sending = false;
            this.$emit("networkError");
          });
      }
    },
    doRejectTrials: function () {
      if (this.$refs.form.validate()) {
        this.$emit("clearError");
        this.sending = true;
        this.trialDecision.accept = false;

        fetch(
          this.$config.API_BASE_URL +
            "/v1/bindings/iog/users/processTrialRequest",
          {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(this.trialDecision),
          }
        )
          .then((response) => {
            if (response.status === 204) {
              this.success = true;
            } else if (response.status === 401) {
              this.$router.push("/logout");
            } else if (response.status === 400) {
              this.sending = false;
              response
                .json()
                .then((data) => {
                  this.error = data;
                })
                .catch((error) => {
                  console.log(error);
                  this.$emit("unexpectedError");
                });
            } else {
              this.sending = false;
              this.$emit("unexpectedError");
            }
          })
          .catch((error) => {
            console.log(error);
            this.sending = false;
            this.$emit("networkError");
          });
      }
    },
  },
  beforeDestroy() {
    this.$emit("clearError");
  },
};
</script>

<style scoped></style>
