<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <v-row>
    <v-col md="12">
      <v-card>
        <v-card-title>
          Liste der ausstehenden Einladungen
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <invitation-list
          :invitations="invitations"
          :loading="loading"
          :search="search"
          :showPermissions="
            applicationStore.session.user.permissions.includes('ADMIN')
          "
        />
      </v-card>
    </v-col>
    <v-col
      v-if="
        applicationStore.session.user.permissions.includes('ADMIN') ||
        applicationStore.session.user.permissions.includes('INVITE')
      "
    >
      <v-card>
        <v-card-title class="red--text">
          Einladungsmails wiederholen
        </v-card-title>
        <v-card-text>
          <v-alert type="success" v-if="success_resend">
            Einladungslink wurde erfolgreich verschickt.
          </v-alert>

          <v-form ref="form" v-if="!success_resend">
            <v-alert type="warning" v-if="error_resend">
              Bitte folgende Fehler beheben:
              <ul>
                <li v-for="e in error_resend" :key="e">
                  {{ e }}
                </li>
              </ul>
            </v-alert>

            <v-select
              v-model="resend.invitation"
              :items="this.invitations"
              item-text="invitee.mail"
              item-value="invitee.mail"
              label="Ausstehende Einladungen"
              chips
              prepend-icon="mdi-account-group"
              :disabled="loading || sending"
            ></v-select>

            <v-checkbox
              v-model="resend.verified"
              :rules="[(v) => !!v || 'Die Zustimmung ist erforderlich']"
              :disabled="sending"
              required
            >
              <template slot="label">
                Die Einladungsmail soll erneut verschickt und die Gültigkeit des
                Einladungstokens verlängert werden.
              </template>
            </v-checkbox>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="reset"
            v-if="success_resend"
            >Weitere Einladungen verwalten
          </v-btn>
          <v-spacer />
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="doResendInvitation"
            :loading="sending"
            :disabled="sending"
            v-if="!success_resend"
            >Einladung erneut versenden
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
    <v-col
      v-if="
        applicationStore.session.user.permissions.includes('ADMIN') ||
        applicationStore.session.user.permissions.includes('INVITE')
      "
    >
      <v-card>
        <v-card-title class="red--text">
          Einladungen zurückziehen
        </v-card-title>
        <v-card-text>
          <v-alert type="success" v-if="success_withdraw">
            Einladung wurde zurückgezogen.
          </v-alert>

          <v-form ref="form2" v-if="!success_withdraw">
            <v-alert type="warning" v-if="error_withdraw">
              Bitte folgende Fehler beheben:
              <ul>
                <li v-for="e in error_withdraw" :key="e">
                  {{ e }}
                </li>
              </ul>
            </v-alert>

            <v-select
              v-model="withdraw.invitation"
              :items="this.invitations"
              item-text="invitee.mail"
              item-value="invitee.mail"
              label="Ausstehende Einladungen"
              chips
              prepend-icon="mdi-account-group"
              :disabled="loading || sending"
            ></v-select>

            <v-checkbox
              v-model="withdraw.verified"
              :rules="[(v) => !!v || 'Die Zustimmung ist erforderlich']"
              :disabled="sending"
              required
            >
              <template slot="label">
                Die Einladung soll zurückgezogen werden (der Link wird
                ungültig).
              </template>
            </v-checkbox>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="reset"
            v-if="success_withdraw"
            >Weitere Einladungen zurückziehen
          </v-btn>
          <v-spacer />
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="doWithdrawInvitation"
            :loading="sending"
            :disabled="sending"
            v-if="!success_withdraw"
            >Einladung zurückziehen
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import Api from "../../Api.js";
import { useApplicationStore } from "../../stores/application";

export default {
  mounted() {
    this.initInvitations();
  },
  data: () => {
    return {
      search: "",
      loading: true,
      sending: false,
      success_resend: false,
      success_withdraw: false,
      error_resend: null,
      error_withdraw: null,
      invitations: [],
      resend: {
        invitation: null,
        verified: false,
      },
      withdraw: {
        invitation: null,
        verified: false,
      },
      applicationStore: useApplicationStore(),
    };
  },
  methods: {
    initInvitations: function () {
      Api.defaultHandler(this, Api.getAllValidInvitations()).then((result) => {
        this.invitations = result;
        this.loading = false;
      });
    },
    reset: function () {
      this.error_resend = null;
      this.error_withdraw = null;
      this.resend.invitation = null;
      this.resend.verified = false;
      this.withdraw.invitation = null;
      this.withdraw.verified = false;
      this.sending = false;
      this.success_resend = false;
      this.success_withdraw = false;
    },
    doResendInvitation: function () {
      if (this.$refs.form.validate()) {
        this.$emit("clearError");
        this.sending = true;

        const request = {
          mail: this.resend.invitation,
          verified: this.resend.verified,
        };

        fetch(this.$config.API_BASE_URL + "/v1/invitations/resend", {
          method: "POST",
          credentials: "include",
          body: JSON.stringify(request),
        })
          .then((response) => {
            if (response.status === 200) {
              this.initInvitations();
              this.success_resend = true;
            } else if (response.status === 401) {
              this.$router.push("/logout");
            } else if (response.status === 400) {
              this.sending = false;
              response
                .json()
                .then((data) => {
                  this.error_resend = data;
                })
                .catch((error) => {
                  console.log(error);
                  this.$emit("unexpectedError");
                });
            } else {
              this.sending = false;
              this.$emit("unexpectedError");
            }
          })
          .catch((error) => {
            console.log(error);
            this.sending = false;
            this.$emit("networkError");
          });
      }
    },
    doWithdrawInvitation: function () {
      if (this.$refs.form2.validate()) {
        this.$emit("clearError");
        this.sending = true;

        const request = {
          mail: this.withdraw.invitation,
          verified: this.withdraw.verified,
        };

        fetch(this.$config.API_BASE_URL + "/v1/invitations/withdraw", {
          method: "POST",
          credentials: "include",
          body: JSON.stringify(request),
        })
          .then((response) => {
            if (response.status === 200) {
              this.initInvitations();
              this.success_withdraw = true;
            } else if (response.status === 401) {
              this.$router.push("/logout");
            } else if (response.status === 400) {
              this.sending = false;
              response
                .json()
                .then((data) => {
                  this.error_withdraw = data;
                })
                .catch((error) => {
                  console.log(error);
                  this.$emit("unexpectedError");
                });
            } else {
              this.sending = false;
              this.$emit("unexpectedError");
            }
          })
          .catch((error) => {
            console.log(error);
            this.sending = false;
            this.$emit("networkError");
          });
      }
    },
  },
  beforeDestroy() {
    this.$emit("clearError");
  },
};
</script>

<style scoped></style>
